body {
  margin:0px
  
}
.header{
  background:black;
  color:white;
  text-align: center;
padding:10px;

}
.nivgation{
  background-color:#DDD;
  border:1px solid red;
text-align: center;
margin:0px
}
.nivgation ul{
  list-style: none inside none;
}
.nivgation ul li
{display: inline-block;
padding:10px;
}
a.hover{color:red;}
a{
  text-decoration:none; 
  background-color: orange;
  padding:3px
}
a.visited{color: green;}
 .my-form{
     background-color:#DDD;
     padding:5px;
   }
   label{
     display: block;
   }
  input {display: block;
    width:50%;
    height:20px;
  }
  .div1{
    background: blue;
  }
  .div2{
    background: green;
  }
  .div3{
    
background: orange;
    
  }

  .div1,.div2,.div3{
    width:33%;
    float:left;
    padding:10px;
    box-sizing:border-box;
  }
  .footer{
    background-color: black;
    padding:10px;
    color: White;
    text-align: center;
    font-weight:bold;
  }
  .footer p{
    top:10px}